<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fadhil.challenge">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="24" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Challenge"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.StudentActivity"
            android:exported="true"
            android:label="Student Data Management" />
        <activity
            android:name=".activity.MoviesActivity"
            android:exported="true"
            android:label="Movies App" />
        <activity
            android:name=".activity.HeroesActivity"
            android:exported="true"
            android:label="Heroes App" />
        <activity
            android:name=".activity.MyViewActivity"
            android:exported="true"
            android:label="My View App" />
        <activity
            android:name=".activity.BarCalculatorActivity"
            android:exported="true"
            android:label="Bar Calculator" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Challenge App by Fadhil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>